GITHUB_TOKEN=
# Uses the default azurite storage account
# For more information, see https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator#authorize-with-shared-key-credentials
STORAGE_ACCOUNT_CON_STRING="DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://localhost:10000/devstoreaccount1;"
WEEKLY_RETENTION=1
GITHUB_ORG=equinor
BLOB_CONTAINER=github-archives
GITHUB_URL=http://localhost:5000
